﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
	<div id="mainWrapper">
	    <header>
	        <h1>Hibernation Preventer Admin</h1>
	        <ul>
	            <li>@Html.ActionLink("Application Listing", "Index", "Home")</li>
	            <li>@Html.ActionLink("Add Application", "AddApplication", "Home")</li>
	        </ul>
            <br class="clear"/>
	    </header>
		<div id="content">
			@RenderBody()
		</div>
	</div>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
