@model HibernationPreventer.Site.Models.ApplicationCreateModel
@{
    ViewBag.Title = "Add Application";
}

<h2>Add Application</h2>
@using(Html.BeginForm())
{
	@Html.LabelFor(x => x.Name)
	@Html.TextBoxFor(x => x.Name)
	@Html.ValidationMessageFor(x => x.Name)
	
	<button type="submit">Save</button>
}