﻿@model HibernationPreventer.Site.Models.ApplicationListingModel
@{
    ViewBag.Title = "Index";
}

<h2>Applications</h2>
@using (Html.BeginForm())
{
    <ul id="appListing">
        @foreach (var application in Model.Applications)
        {
            <li>@application.Name <button type="submit" name="applicationToDelete" value="@application.Id" class="icon-">&#xf014;</button><br class="clear"/></li>
        }
    </ul>
}