﻿body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

header ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
header ul li {
    float: left;
    padding: 5px;
    border: 1px solid #000;
    border-radius: 10px 10px 0 0;
    border-bottom: none;
}
header ul li:first-child {
    border-right: none;
}
header ul li a {
    text-decoration: none;
    color: #000;
}

.clear {
    clear: both;
}

#content {
    border: 1px solid #000;
    padding: 5px;
}

#appListing {
    list-style: none;
    margin: 0;
    padding: 0;
}
#appListing li {
    background-color: #efefef;
    padding: 3px;
    margin-bottom: 4px;
}
#appListing li:hover {
    background-color: #a1a1a1;
}
#appListing button {
    float: right;
    padding: 0;
    border: none;
    background: transparent;
    font-size: 14px;
    cursor: pointer;
}
